<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.google.dart.tools.debug.core.browserLaunchConfig">
<stringAttribute key="applicationArguments" value=""/>
<stringAttribute key="applicationName" value="/Game1/Game1.html"/>
<stringAttribute key="browserName" value=""/>
<booleanAttribute key="launchHtmlFile" value="true"/>
<stringAttribute key="projectName" value="Game1"/>
<booleanAttribute key="systemDefaultBrowser" value="true"/>
<stringAttribute key="url" value=""/>
</launchConfiguration>
